<% include ./partials/header %>
<div class = "container">
<div class="signup">
        <form action="/upload/image" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                    <label for="name">ID</label>
                    <input class="form-control" type="text" name="id" value = <%=data.id%> readonly="readonly" required>
                </div>
                    <div class="form-group">
                        <label for="name">Image</label>
                        <input class="form-control" type="file" name="myImage">
                    </div>
            
                                <button class="btn btn-success" type="submit">Submit</button>
                            </form>
</div>
</div>


<% include ./partials/footer %>